<div class="scrollable">
  <div class="scrollable-content">
      <div class="list-group" >
		<div class="list-group-item">
			<form ng-show='{{(dameLocal.nombre)?false:true}}' role='form' ng-submit="validarusuario()">
			<legend>Login</legend>
				<div class="form-group">
					<label>Email</label>
						<input type="user" ng-model="user.nombre" class="form-control" placeholder="Ingrese usuario"/>
				</div>

				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" ng-model='user.password'/>
				</div>
				<button class="btn btn-primary btn-block">Login</button>
			</form>
			<form ng-show='{{(dameLocal.nombre)?true:false}}' role='form' ng-submit="logout()">
			<legend>Logueado como {{dameLocal.nombre}}</legend>
				    <button class="btn btn-primary btn-block">Logout {{log1}} </button>
			</form>			
		</div>
      </div>
  </div>
</div>
